* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans 18pt";
}

html {
  font-size: 1rem;
}

:root {
  --font-color: #173b58;
}

body {
  color: var(--font-color);
}

.underline-header-text {
  position: relative;
  display: inline-block;
}

.underline-header-text::after {
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  background-image: url("/assets/images/underline.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  position: absolute;
  top: 100%;
  left: 0;
}

.main-container {
  width: 1400px;
  max-width: 191rem;
}

.article-main-container {
  width: 1350px;
  max-width: 181rem;
}

a {
  text-decoration: none;
}

.header-container .header-logo {
  width: 240px;
  height: 60px;
}

.header-content-wrapper {
  padding: 1.375rem 0;
}

.header-content-wrapper .header-logo img {
  width: 240px;
  height: 60px;
}

.header-content-wrapper ul li div {
  padding: 10px 1rem;
  border-radius: 56px;
  border: 1px solid var(--font-color);
  box-shadow: 0 4px 4px 0 #00000040;
}

.header-content-wrapper ul li a {
  color: #183c59;
  line-height: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.teacher-member-div-wrapper {
  padding: 24px;
  border: 1px solid #c3c4c6;
  box-shadow: -8px 12px 64px 0 #a4a4a426;
  border-radius: 0.8rem;
  width: fit-content;
  text-align: center;
  gap: 8px;
  background-color: #ffffff;
  bottom: 17%;
  right: 3%;
}

.teacher-member-div-wrapper img {
  width: 50px;
  height: 50px;
  top: 5px;
  left: 6px;
}

.teacher-member-div-wrapper .teacher-member-text {
  color: #1e1e1e;
  font-size: 0.9rem;
  font-weight: 400;
  opacity: 0.8;
  letter-spacing: 0.75px;
  line-height: 100%;
  height: 23px;
}

.teacher-member-div-wrapper .teacher-member-count {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.54px;
  line-height: 100%;
  height: 33px;
}

.user-div-detail-wrapper {
  padding: 28px 1rem 0.8rem 1rem;
  border: 1px solid #c3c4c6;
  width: fit-content;
  border-radius: 0.8rem;
  gap: 12px;
  bottom: -4%;
  left: -9%;
  background-color: #ffffff;
}

.user-div-detail-wrapper .user-div-detail-text {
  max-width: 342px;
  font-size: 0.9rem;
  line-height: 1.3rem;
  font-weight: 400;
  opacity: 0.9;
}

.user-div-bio-div-wrapper {
  gap: 8px;
}

.user-div-bio-div-wrapper img {
  width: 56px;
  height: 56px;
}

.user-div-bio-text-wrapper {
  gap: 4px;
}

.user-div-bio-text-wrapper .user-name {
  font-size: 0.9rem;
  line-height: 100%;
  font-weight: 700;
}

.user-div-bio-text-wrapper .user-school {
  font-size: 0.7rem;
  font-weight: 500;
  opacity: 0.7;
  color: #1e1e1e;
}

.user-div-detail-wrapper img {
  bottom: 0;
  right: 0;
}

.left-content-wrapper {
  margin-bottom: 300px;
}

.left-content-wrapper .left-content-bold-text {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.85rem;
  max-width: 396px;
  margin-top: 5.3rem;
}

.left-content-wrapper .left-content-normal-text {
  font-size: 1.2rem;
  line-height: 2.3rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 1.5rem;
}

.left-input-email-div-wrapper {
  width: 542px;
  height: 10%;
}

.left-content-wrapper .left-input-email-div-wrapper input {
  border: 1px solid var(--font-color);
  border-radius: 100px;
  padding: 1rem 1rem 21px 46px;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 700;
  width: 542px;
}

.left-content-wrapper .left-input-email-div-wrapper button {
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 700;
  background-color: #edb031;
  border-radius: 56px;
  padding: 1rem 1rem 21px 46px;
  right: 0;
}

.left-content-wrapper .sign-in-with-text {
  font-size: 1rem;
  line-height: 46px;
  font-weight: 500;
  margin-top: 10%;
  margin-bottom: 10px;
}

.sign-in-with-btns {
  gap: 10px;
}

.sign-in-with-btns div {
  width: 148px;
  background-color: #edf2f7;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
}

.classroom-glimpse-section-wrapper {
  padding: 5.75rem 0;
  background-color: #f6f8fb;
}

.header-text {
  text-align: center;
  line-height: 2.85rem;
  font-size: 2rem;
  font-weight: 700;
}

.classroom-glimpse-section-wrapper .header-text {
  margin-bottom: 3rem;
}

.classroom-glimpse-images-content-wrapper {
  gap: 31px;
}

.classroom-glimpse-images-left-content-wrapper {
  background-color: #ffffff;
  padding: 14px 19px;
  box-shadow: 0 3px 3px 0 #00000040;
  border-radius: 8px;
}

.classroom-glimpse-images-left-content-wrapper .header-text {
  line-height: 1rem;
  font-weight: 700;
  font-size: 0.9rem;
  color: #183c59;
  margin: 0.8rem 0;
  text-align: left;
}

.classroom-glimpse-images-left-content-wrapper .image-normal-text img {
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
}

.classroom-glimpse-images-left-content-wrapper .bar-clock-wrapper {
  gap: 38px;
  margin-top: 10px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d9dbe9;
}

.classroom-glimpse-images-right-content-wrapper-bottom {
  padding-top: 12px;
}

.right-content-wrapper {
  max-width: 50%;
}

.right-content-wrapper .base-image {
  max-width: 100%;
}

.classroom-glimpse-images-right-content-wrapper-bottom .user-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.classroom-glimpse-images-right-content-wrapper-bottom .user-menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
}

.classroom-glimpse-images-content-wrapper .user-detail-wrapper .user-name {
  font-weight: 700;
  line-height: 1rem;
  font-size: 0.7rem;
  color: #183c59;
}

.classroom-glimpse-images-content-wrapper .user-detail-wrapper .user-school {
  line-height: 1rem;
  font-size: 0.6rem;
  font-weight: 400;
}

.classroom-glimpse-images-right-content-wrapper {
  background-image: url("/assets/images/banner.png");
  background-size: 100% 100%;
  width: 100%;
  border-radius: 1rem;
}

.classroom-glimpse-images-right-content-wrapper .play-btn-div-wrapper {
  width: 93px;
  height: 93px;
  background-color: var(--font-color);
  border-radius: 74px;
}

.classroom-glimpse-images-right-content-wrapper .play-btn-div-wrapper img {
  width: 19px;
  height: 22px;
}

.classroom-glimpse-bottom-text-content-wrapper {
  margin-top: 1.5rem;
  padding: 48px 56px;
  background-color: #183c59;
  border-radius: 1rem;
  color: #ffffff;
  gap: 11px;
}

.classroom-glimpse-bottom-text-content-wrapper .bottom-header-text {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 700;
}

.classroom-glimpse-bottom-text-content-wrapper .normal-text {
  font-size: 0.8rem;
  line-height: 22px;
  font-weight: 400;
}

.about-section-wrapper {
  padding: 100px;
}

.about-section-text-wrapper {
  margin-bottom: 60px;
}

.about-section-wrapper .header-text {
  margin-bottom: 4.35rem;
}

.about-section-wrapper .about-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.85rem;
}

.about-section-wrapper .about-text .underline-text {
  border-bottom: 2px solid #78797c5b;
}

.about-section-wrapper .read-more a {
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 700;
  color: #235d8d;
}

.about-section-user-detail-wrapper {
  padding: 40px 40px 40px 40px;
  background-image: linear-gradient(to right,
      rgba(150, 209, 227, 0.2),
      rgba(216, 228, 214, 0.2));
  border-radius: 1rem;
  gap: 1.5rem;
}

.about-section-user-detail-wrapper .about-img-vector {
  right: 0;
  width: 28px;
  height: 1rem;
}

.about-section-user-detail-wrapper .user-icon {
  margin-top: 40px;
  width: 290px;
  height: 290px;
  border-radius: 190px;
}

.about-section-user-detail-wrapper .user-name-social-image-wrapper {
  padding-top: 19px;
  padding-bottom: 22px;
}

.about-section-user-detail-wrapper .user-name-social-image-wrapper .user-name {
  font-weight: 700;
  font-size: 1.4rem;
}

.about-section-user-detail-wrapper .user-name-social-image-wrapper .user-profession {
  font-weight: 500;
  font-size: 0.8rem;
}

.about-section-user-detail-wrapper .user-name-social-image-wrapper .social-images {
  gap: 1rem;
}

.about-section-user-detail-wrapper .user-name-social-image-wrapper .social-images img {
  width: 50px;
  height: 50px;
}

.about-section-user-detail-wrapper .address-detail {
  padding: 22px 0;
  gap: 13px;
  border-bottom: 2px solid #ccd6da;
  border-top: 2px solid #ccd6da;
}

.about-section-user-detail-wrapper .normal-text {
  font-size: 0.8rem;
  font-weight: 500;
}

.about-section-user-detail-wrapper .address-detail .map-icon-div {
  width: 26px;
  height: 26px;
}

.about-section-user-detail-wrapper .address-detail img {
  width: 17px;
  height: 21px;
}

.about-section-user-detail-wrapper .user-intro {
  padding-top: 1rem;
  font-size: 0.8rem;
  line-height: 1.85rem;
  font-weight: 400;
}

.article-news-section-wrapper .header-text {
  padding-bottom: 66px;
}

.a-n-image-wrapper {
  gap: 24px;
}

.a-n-image-wrapper .a-n-image {
  gap: 0.8rem;
  width: 100%;
}

.a-n-image-wrapper .div {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.6rem;
  max-width: 385px;
}

.a-n-image img {
  max-width: 100%;
  height: 12.25rem;
  object-fit: cover;
  border-radius: 24px;
}

.a-n-image div {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.article-news-section-wrapper-button-wrapper {
  padding-top: 61px;
  padding-bottom: 80px;

}

.article-news-section-wrapper-button-wrapper a {
  padding: 21px 81px;
  font-size: 0.9rem;
  line-height: 1rem;
  border-radius: 56px;
  font-weight: 700;
  border: 1px solid var(--font-color);
  box-shadow: 0 3px 12px 0 var(--font-color);
  color: #173b58;
  box-shadow: 0px 3px 12px 0px rgba(23, 59, 88, 0.3);

}

.product-display-container {
  background-color: #f6f8fb;
}

.product-display-container .left-side-content-wrapper {
  margin-left: 0 auto;
  padding-top: 1.5rem;
  padding-left: 94px;
  padding-bottom: 3.9rem;
  width: 100%;
}

.product-display-container .left-side-content-wrapper .product-display-left-side-content-wrapper {
  max-width: 400px;
  margin-right: 285px;
}

.product-display-container .left-side-content-wrapper .user-num-text {
  line-height: 1.6rem;
  font-weight: 500;
  font-size: 1.1rem;
  padding-bottom: 5.3rem;
}

.product-display-container .left-side-content-wrapper .header-text {
  margin-bottom: 2rem;
  text-align: left;
}

.product-display-container .left-side-content-wrapper .design-text {
  line-height: 1.6rem;
  font-weight: 500;
  font-size: 1.1rem;
  max-width: 384px;
  margin-bottom: 2rem;
}

.product-display-container .left-side-content-wrapper .design-btn {
  padding: 1rem 1.6rem;
  background-color: #ffffff;
  border: 1px solid #173b58;
  box-shadow: 0 3px 12px 0 #173b584d;
  border-radius: 56px;
  width: fit-content;
  box-shadow: 0px 3px 12px 0px rgba(23, 59, 88, 0.3);

}

.product-display-container .left-side-content-wrapper .design-btn a {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1rem;
  color: #173b58;
}

.what-happing-section-wrapper-second {
  padding: 90px 0;
  height: 100%;
}

.what-happing-section-wrapper-second .container {
  gap: 62px;
}

.what-happing-section-wrapper-second .left-section-wrapper .header-text {
  text-align: left;
  margin-bottom: 1.2rem;
  margin-top: 3.1rem;
}

.what-happing-section-wrapper-second .right-section-wrapper {
  max-width: 633px;
  flex: 1;
}

.what-happing-section-wrapper-second .right-section-wrapper-image {
  width: 490px !important;
  height: 490px;
  border-radius: 50%;
  background-color: #edf2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.what-happing-section-wrapper-second .right-section-wrapper-image img {
  height: 344px;
  width: 633px !important;
  object-fit: cover;
}

.what-happing-section-wrapper-second .left-section-wrapper .w-h-btn {
  margin-top: 3rem;
  padding: 1rem 53px;
  border-radius: 56px;
  border: 1px solid #173b58;
  color: #173b58;
  box-shadow: 0px 3px 12px 0px rgba(23, 59, 88, 0.3);

}

.what-happing-section-wrapper-second .left-section-wrapper .w-h-btn a {
  color: #183c59;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1rem;

}

.uos-martial-section-wrapper-div-left-content-wrapper-image {
  border-radius: 8px;
  object-fit: cover;
}

.product-display-container .right-side-content-wrapper {
  background-image: url("/assets/images/desing.png");
  background-size: cover;
  width: 100%;
}

.circle-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: end;
  height: 100%;
}

.circle-div {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: white;
}

.circle-border-div {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid #173b58;
}

.testimonial-section-wrapper {
  padding-top: 4rem;
}

.testimonial-section-wrapper .testimonial-header {
  margin-bottom: 1.5rem;
}

.testimonial-section-wrapper .testimonial-header-text {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.3rem;
  text-align: center;
  margin: 0 3.95rem 4rem 3.95rem;
}

.testimonial-user-div-wrapper {
  gap: 2.6rem;
  margin-bottom: 5.5rem;
}

.testimonial-user-div-wrapper .testimonial-user-div:hover {
  box-shadow: 0 22.34px 17.4.35rem 0 #00000007;
}

.testimonial-user-div-wrapper .testimonial-user-div {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #dedede;
  padding: 40px 1.6rem;
  box-shadow: 0 6.65px 5.1.6rem 0 #00000007;
}

.testimonial-user-div-wrapper .testimonial-user-div .user-testimonial-img {
  width: 112px;
  height: 112px;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
}

.testimonial-user-div-wrapper .testimonial-user-div img {
  width: 112px;
  height: 112px;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-user-div-wrapper .testimonial-user-div .user-name {
  color: #edb031;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.3rem;
  padding-top: 1.5rem;
}

.testimonial-user-div-wrapper .testimonial-user-div .user-text {
  text-align: center;
  padding: 14px 0;
}

.testimonial-user-div-wrapper .testimonial-user-div .user-location {
  font-size: 0.7rem;
}

.question-section-wrapper {
  box-shadow: 0 100px 80px 0 #bfbfbf05;
  padding-bottom: 5.1rem;
}

.question-section-div .question-text-que-icon-div {
  padding: 0.8rem 1.25rem;
  border: 1px solid #ebebeb;
}

.question-section-div .question-text-que-icon-div .question-title {
  font-size: 0.8rem;
  font-weight: 500;
  color: #252b42;
  max-width: 80%;
}

.question-section-div .question-text-que-icon-div .question-icon {
  width: 1.6rem;
  height: 1.6rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  border: 1px solid #d3d3d3;
}

.question-section-div .question-text-que-icon-div .question-icon::after {
  content: ">";
}

.question-section-div .question-text {
  display: none;
}

.question-section-div.open-question-div {
  background-color: #f6f6f6;
}

.question-section-div.open-question-div .question-text-que-icon-div {
  border-bottom: 0;
  border-left: 3px solid #edb031;
}

.question-section-div.open-question-div .question-icon {
  background-color: #edb031;
}

.question-section-div.open-question-div .question-title {
  font-size: 0.7rem;
}

.question-section-div.open-question-div .question-text {
  display: block;
  padding: 1.25rem 1.5rem;
}

.question-section-div.open-question-div .question-text-que-icon-div .question-icon::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 6px;
  background-image: url("/assets/images/arrow_down.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.frequently-asked-header {
  text-align: left;
  margin-bottom: 2rem;
}

.uos-material-user-detail-wrapper {
  gap: 1.5rem;
}

.uos-martial-section-wrapper {
  background-color: #f6f8fb;
  padding: 4rem 0;
}

.uos-martial-section-wrapper .header-text {
  text-align: left;
  padding-bottom: 1.1rem;
}

.uos-martial-section-wrapper .uos-vector {
  width: 5.4rem;
  height: 2.7rem;
  margin-left: 2.25rem;
  margin-top: 0.6rem;
}

.uos-martial-section-wrapper .arrow-icons {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 56px;
  background-color: #edf2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.2rem;
}

.uos-martial-section-wrapper .arrow-icons img {
  width: 1rem;
  height: 0.7rem;
}

.uos-martial-section-wrapper .arrow-icons-wrapper {
  margin-left: auto;
  gap: 5px;
  margin-top: 8px;
}

.uos-martial-section-wrapper-div {
  background-color: #ffffff;
  padding: 14px 19px;
  box-shadow: 0 3px 3px 0 #00000040;
  border-radius: 8px;
  height: fit-content;
}

.uos-martial-section-wrapper-div .header-text {
  line-height: 1rem;
  font-weight: 700;
  font-size: 0.9rem;
  color: #183c59;
  margin: 0.8rem 0;
  text-align: left;
  padding-bottom: 0;
}

.uos-martial-section-wrapper-div .image-normal-text img {
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
}

.uos-martial-section-wrapper-div .bar-clock-wrapper {
  gap: 38px;
  margin-top: 10px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #d9dbe9;
}

.uos-martial-section-wrapper-right-content-wrapper-bottom {
  padding-top: 12px;
}

.uos-martial-section-wrapper-right-content-wrapper-bottom .user-icon {
  width: 40px;
  height: 40px;
  margin-right: 1.75rem;
  border-radius: 1rem;
  border: 3px solid #ffffff;
  z-index: 2;
  display: block;
}

.uos-martial-section-wrapper-right-content-wrapper-bottom .user-icon.second-div {
  left: 10px;
  z-index: 1;
}

.uos-martial-section-wrapper-right-content-wrapper-bottom .user-icon.third-div {
  left: 1rem;
  z-index: 0;
}

.uos-martial-section-wrapper-right-content-wrapper-bottom .user-menu-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: auto;
  background-color: #edf2f7;
  border-radius: 70px;
}

.uos-martial-section-wrapper-right-content-wrapper-bottom .user-menu-icon img {
  width: 24px;
  height: 24px;
}

.uos-martial-section-wrapper-div .user-detail-wrapper .user-name {
  font-weight: 700;
  line-height: 1rem;
  font-size: 0.7rem;
  color: #183c59;
}

.uos-martial-section-wrapper-div .user-detail-wrapper .user-school {
  line-height: 1rem;
  font-size: 0.6rem;
  font-weight: 400;
}

.footer-section-wrapper {
  background: #173b58;
  color: #ffffff;
}

.footer-section-wrapper .top-footer-section-wrapper {
  padding: 2rem 2.35rem 0 3rem;
  padding-bottom: 1rem;
}

.footer-section-wrapper .footer-middle-line {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.08);
}

.footer-section-wrapper .bottom-footer-section-wrapper {
  padding: 1rem 47px 1rem 60px;
}

.footer-section-wrapper .top-footer-section-wrapper .header-section-wrapper-text {
  max-width: 12.8rem;
  text-align: left;
  width: 20%;
}

.footer-detail-wrapper {
  width: 75%;
}

.footer-section-wrapper .top-footer-section-wrapper .footer-link-sections {
  max-width: 12.8rem;
}

.footer-section-wrapper .top-footer-section-wrapper .footer-link-sections div {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 2.2rem;
}

.footer-section-wrapper .top-footer-section-wrapper .footer-link-sections .first-item {
  color: rgba(255, 255, 255, 0.5);
}

.footer-section-wrapper .bottom-footer-section-wrapper .footer-logo {
  max-width: 240px;
  height: 60px;
}

.footer-section-wrapper .bottom-footer-section-wrapper .middle-text {
  font-size: 0.9rem;
  font-weight: 400;
}

.footer-section-wrapper .bottom-footer-section-wrapper .social-media-icon-wrapper {
  gap: 0.8rem;
}

.footer-section-wrapper .bottom-footer-section-wrapper .social-media-icon-wrapper div {
  width: 40px;
  height: 40px;
  border-radius: 62px;
  background-color: rgba(255, 255, 255, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section-wrapper .bottom-footer-section-wrapper .social-media-icon-wrapper img {
  width: 1rem;
  height: 1rem;
}

@media (max-width: 1450px) {
  .right-content-wrapper {
    max-width: 100%;
  }

  .user-div-detail-wrapper {
    padding: 8px 6px;
    bottom: 2%;
    left: 3%;
  }

  .user-div-detail-wrapper .user-div-detail-text {
    max-width: 250px;

  }

  .teacher-member-div-wrapper {
    padding: 12px;
  }

}

@media (max-width: 1200px) {
  html {
    font-size: 18px;
  }

  .uos-martial-section-wrapper .uos-martial-section-wrapper-div {
    width: 30%;
  }

  .classroom-glimpse-section-wrapper .header-text {
    margin-bottom: 1.5rem;
  }

  .product-display-container .left-side-content-wrapper {
    padding-left: 0;
    justify-content: center !important;
  }

  .product-display-container .left-side-content-wrapper .product-display-left-side-content-wrapper {
    margin: auto;
  }

  .uos-material-user-detail-wrapper {
    flex-wrap: wrap;
  }



  .what-happing-section-wrapper-second .container {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .what-happing-section-wrapper-second .container .left-section-wrapper {
    width: 100% !important;
  }

  .about-section-wrapper {
    padding: 50px;
  }

  .classroom-glimpse-section-wrapper {
    padding: 2.5rem 0;
  }

  .classroom-glimpse-images-left-content-wrapper-image {
    max-width: 200px;
    min-height: 150px;
  }

  .classroom-glimpse-bottom-text-content-wrapper {
    padding: 1.25rem 1.5rem;
  }

  .about-section-user-detail-wrapper {
    padding: 1rem;
  }

  .about-section-user-detail-wrapper .address-detail {
    padding: 11px 0;
  }

  .testimonial-user-div-wrapper .testimonial-user-div {
    padding: 1rem 10px;
  }

  .left-input-email-div-wrapper {
    width: 442px;
  }

  .left-content-wrapper .left-input-email-div-wrapper input {
    width: 442px;
    height: 8%;
  }

  .left-content-wrapper .left-input-email-div-wrapper button {
    padding: 11px 26px;
  }

  .right-content-wrapper .base-image {
    margin-top: 15%;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 0.8rem;
  }

  .left-content-wrapper .left-input-email-div-wrapper input {
    width: 100%;
    max-width: 100%;
  }

  .what-happing-section-wrapper-second {
    padding: 0;
    padding-bottom: 10px;
  }

  .footer-link-sections-wrapper {
    flex-wrap: wrap;
    row-gap: 18px;
    column-gap: 14px;
  }

  .testimonial-user-div-wrapper {
    flex-wrap: wrap;
  }

  .testimonial-user-div-wrapper .testimonial-user-div {
    width: 45% !important;
  }

  .left-content-wrapper {
    width: 100% !important;
    align-items: start;
    margin-bottom: 50px;
  }

  .bottom-content-wrapper {
    flex-direction: column !important;
  }

  .right-content-wrapper {
    max-width: 100% !important;
    height: 100%;
  }

  .left-input-email-div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: 100%;
  }



  .left-content-wrapper .left-content-bold-text {
    margin-top: 2.5rem;
  }

  .sign-in-with-btns div {
    width: 11rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-content-wrapper .sign-in-with-text {
    margin-top: 2.5rem;
  }

  .right-content-wrapper .base-image {
    margin-top: 1rem;
    width: 90%;
  }
}

@media (max-width: 767px) {
  .uos-martial-section-wrapper .uos-martial-section-wrapper-div {
    width: 40% !important;
  }

  .what-happing-section-wrapper-second .container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .what-happing-section-wrapper-second .left-section-wrapper,
  .what-happing-section-wrapper-second .right-section-wrapper {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }

  .what-happing-section-wrapper-second .right-section-wrapper {
    position: relative !important;
    height: 100%;
  }

  .what-happing-section-wrapper-second .right-section-wrapper-image {
    width: 50% !important;
    margin: 0 auto;
    height: 250px;
  }

  .what-happing-section-wrapper-second .w-h-btn {
    margin-top: 1rem;
  }

  .what-happing-section-wrapper-second .right-section-wrapper-image img {
    width: 80% !important;
    height: 80%;
    position: absolute !important;
    object-fit: contain;
  }
}

@media (max-width: 850px) {
  .footer-section-wrapper .top-footer-section-wrapper .header-section-wrapper-text {
    font-size: 1.5rem;
  }

  .product-display-container .left-side-content-wrapper .user-num-text {
    padding-bottom: 2rem;
  }

  .classroom-glimpse-images-left-content-wrapper {
    flex-direction: row !important;
    gap: 1.5rem;
  }

  .classroom-glimpse-images-left-content-wrapper-image {
    max-width: 240px;
    min-height: 200px;
  }


  .product-display-container-wrapper {
    flex-direction: column !important;
  }

  .product-display-container .right-side-content-wrapper {
    height: 400px;
  }

  .about-section-wrapper {
    padding: 1.5rem;
  }

  .about-section-text-wrapper .header-text {
    font-size: 1.5rem;
    line-height: 40px;
  }


  .classroom-glimpse-images-content-wrapper {
    flex-direction: column !important;
  }

  .classroom-glimpse-images-left-content-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .classroom-glimpse-images-right-content-wrapper {
    height: 400px;
  }

  .about-section-user-detail-wrapper .user-icon {
    width: 12rem;
    height: 12rem;
  }

  .about-section-user-detail-wrapper .user-name-social-image-wrapper {
    flex-direction: column !important;
    align-items: start !important;
    gap: 10px;
  }

  .about-section-user-detail-wrapper .user-intro {
    padding-top: 10px;
    line-height: 1.25rem;
  }

  .about-section-user-detail-wrapper .user-name-social-image-wrapper .social-images img {
    width: 1.75rem;
    height: 1.75rem;
  }

  .about-section-user-detail-wrapper .user-name-social-image-wrapper .user-name {
    font-size: 1rem;
  }

  .about-section-user-detail-wrapper {
    padding: 15px;
  }




}

@media (max-width: 750px) {
  html {
    font-size: 14px;
  }

  .footer-link-sections-wrapper {
    flex-direction: column !important;
  }

  .header-section-wrapper-text,
  .footer-detail-wrapper {
    width: 100% !important;
    max-width: 100% !important;
    flex-wrap: wrap;
  }

  .header-section-wrapper-text {
    justify-content: center;
  }

  .a-n-image-wrapper {
    flex-wrap: wrap;
  }

  .a-n-image {
    width: 70% !important;
  }

  .right-content-wrapper .right-content-relative-div-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
  }

  .user-div-detail-wrapper {
    display: block;
    position: static !important;
  }

  .teacher-member-div-wrapper {
    position: static !important;
  }

  .footer-link-sections-wrapper {
    flex-wrap: wrap;
  }

  .top-footer-section-wrapper {
    flex-wrap: wrap;
  }

  .footer-section-wrapper .top-footer-section-wrapper .footer-link-sections {
    max-width: 456px;
  }

  .bottom-footer-section-wrapper {
    flex-direction: column !important;
    gap: 26px;
  }

  .header-content-wrapper .header-logo img {
    max-width: 180px;
    height: 40px;
  }




  .about-section-user-detail-left-wrapper {
    margin: auto;
  }

  .about-section-user-detail-wrapper .user-name-social-image-wrapper {
    align-items: center !important;
  }

  .user-name-social-image-left-wrapper {
    align-items: center !important;
  }

  .about-section-user-detail-wrapper .user-name-social-image-wrapper .user-profession {
    text-align: center;
  }
}

@media (max-width:576px) {
  .product-display-container .right-side-content-wrapper {
    height: 300px;
  }

  .testimonial-user-div-wrapper .testimonial-user-div {
    width: 80% !important;
  }

  .uos-martial-section-wrapper .uos-martial-section-wrapper-div {
    width: 70% !important;
  }

  .uos-martial-section-wrapper .uos-vector {
    display: none;
  }

  .uos-martial-section-wrapper .header-section {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .what-happing-section-wrapper-second .right-section-wrapper-image {
    width: 49% !important;
    margin: 0 auto;
    height: 165px;
  }

  .uos-martial-section-wrapper .arrow-icons-wrapper {
    margin: 0;
  }

  .about-section-user-detail-wrapper {
    flex-direction: column !important;
  }

  .classroom-glimpse-images-left-content-wrapper {
    flex-direction: column !important;
    gap: 0.5rem;
  }

  .left-input-email-div-wrapper input {
    position: static !important;
    width: 100% !important;
    margin: 0 auto;
    height: 0 !important;
  }

  .left-input-email-div-wrapper button {
    position: static !important;
    max-width: 80% !important;
    margin: 0 auto;
  }

  .left-content-wrapper .sign-in-with-text {
    margin-top: 0rem;
  }

}

.footer-bottom-line {
  height: 10px;
  background-image: linear-gradient(to left, rgba(244, 227, 83, 1), rgba(237, 176, 49, 1));
}

/* 991,1024,767, 576 */